<% @cocktails.each do |cocktail| %>
  <div class="cocktail_card">
    <%= image_tag("cocktail1.png", style: "height: 100px; width: 100px;") %>
      <div class="cocktail_card_text">
        <h5><%= link_to cocktail.name, cocktail, style: "color: #2B2D42;" %></h5>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
<% end %>

<p></p>

<%= link_to "Add cocktail", new_cocktail_path %>
