.card {
  padding: 15px;
  border: 1px solid;
  border-color: #DADDD8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: white;
  margin: 20px;
  height: 135px;
}

.card_big {
  padding: 15px;
  border: 1px solid;
  border-color: #DADDD8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: white;
  margin: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cocktail_card {
  display: flex;
}

.cocktail_card_text {
  margin:  10px 20px;
}


.cocktail_card_text p {
  font-size: 11px;
  padding: 0px;
  margin: 0px;
}


.add_new_dose{
  display: flex;
  align-items: flex-end;
}

